.congrats {
  // text-[22px] leading-[33px] font-[500]
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

.txtRed {
  // text-[30px] leading-[45px] text-[#EC0F00] font-[700]
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ec0f00;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

.txtTime {
  // text-[16px] font-[500] leading-[24px]
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }
}
