.mealContainer {
  @media (max-width: 768px) {
    padding-top: 150px;
  }
}

.container {
  height: 100vh;
  @media (max-width: 768px) {
    height: 100%;
    padding-bottom: 100px;
  }
}

.contentField {
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 130px;
  }
}

.contentContainer {
  table {
    width: 100%;
  }
  a {
    color: blue;
  }
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  ol {
    margin: 0;
    padding: 0;
  }
  table td,
  table th {
    padding: 0;
  }
  .c15 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 83.1pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c4 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 179.6pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c3 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 188.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 188.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c34 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 451.3pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c10 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 179.6pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c16 {
    margin-left: 14pt;
    padding-top: 0pt;
    text-indent: -7pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c49 {
    margin-left: 14pt;
    padding-top: 6pt;
    text-indent: -7pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c8 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c11 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c32 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
  }
  .c28 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c0 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c30 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c5 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c55 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c12 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c57 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c50 {
    padding-top: 2pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c52 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c23 {
    padding-top: 2pt;
    padding-bottom: 6pt;
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: justify;
  }
  .c13 {
    padding-top: 2pt;
    padding-bottom: 6pt;
    line-height: 1.1666666666666667;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c60 {
    font-weight: 400;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c33 {
    font-weight: 700;
    font-size: 16pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c1 {
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 400;
  }
  .c25 {
    font-weight: 400;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
  }
  .c17 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c62 {
    font-weight: 700;
    font-size: 14pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c37 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .c24 {
    font-weight: 700;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: italic;
  }
  .c20 {
    font-size: 7pt;
    font-weight: 400;
    font-family: "Times New Roman";
  }
  .c27 {
    font-size: 13pt;
    font-weight: 400;
    font-family: "Times New Roman";
  }
  .c46 {
    font-size: 16pt;
    font-weight: 700;
    font-family: "Times New Roman";
  }
  .c42 {
    font-size: 13pt;
    font-weight: 700;
    font-family: "Times New Roman";
  }
  .c14 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
  }
  .c35 {
    margin-left: 20pt;
    text-indent: -18pt;
  }
  .c56 {
    color: inherit;
    text-decoration: inherit;
  }
  .c36 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
  }
  .c38 {
    margin-left: 9pt;
  }
  .c61 {
    height: 26.2pt;
  }
  .c58 {
    margin-right: -4pt;
  }
  .c51 {
    height: 93pt;
  }
  .c6 {
    height: 16.5pt;
  }
  .c31 {
    height: 33.8pt;
  }
  .c41 {
    height: 150.8pt;
  }
  .c9 {
    height: 63pt;
  }
  .c48 {
    height: 102.8pt;
  }
  .c40 {
    height: 72.8pt;
  }
  .c44 {
    height: 90.8pt;
  }
  .c2 {
    height: 46.5pt;
  }
  .c54 {
    text-indent: 2pt;
  }
  .c53 {
    height: 22.5pt;
  }
  .c19 {
    height: 60.8pt;
  }
  .c21 {
    background-color: #ffffff;
  }
  .c26 {
    height: 64.5pt;
  }
  .c47 {
    height: 33pt;
  }
  .c29 {
    height: 75pt;
  }
  .c18 {
    height: 58.5pt;
  }
  .c39 {
    margin-left: 2pt;
  }
  .c43 {
    height: 184.5pt;
  }
  .c45 {
    height: 30.8pt;
  }
  .c22 {
    height: 21pt;
  }
  .c59 {
    height: 136.5pt;
  }
  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
  }
  p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
  }
  h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  @media (max-width: 768px) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}
